.agreement-accordion{
    &.am-accordion{
        border-top:none;
        .am-accordion-item{
            .am-accordion-header{
                font-size:1.2em;

                .title{
                    text-align: left;
                }
            }

            .am-accordion-content{
                .am-list{
                    .am-list-body{
                        border-bottom:none;

                        & > .am-checkbox-item{
                            border-bottom:1px solid #ddd;
                        }

                        & > .am-list-item:not(.am-checkbox-item){
                            & > .am-list-line{
                                & > .am-list-content{
                                    padding:0;
                                }
                            }

                            &:not(:last-child){
                                & > .am-list-line{
                                    border-bottom:1px solid #ddd;
                                }
                            }
                        }
                    }
                }
            }
        }
        .am-list-item{
            .am-list-line{
                .am-list-extra{
                    max-width:85px;
                }
            }
        }


    }
}
