.agreement-accordion{
    &.am-accordion{
        .am-accordion-item{
            .am-accordion-header{
                font-size:1.2em;

                .title{
                    text-align: left;
                }
            }

            .am-accordion-content{
                .am-list-body{
                    border-bottom:none;

                    & > .am-list-item{
                        & > .am-list-line{
                            & > .am-list-content{
                                padding:0;
                            }
                        }
                    }
                }
            }
        }
        .am-list-item{
            .am-list-line{
                .am-list-extra{
                    max-width:85px;
                }
            }
        }

        form{
            .am-list-item{
                .am-list-line{
                    border-bottom:none;

                    .am-list-extra{
                        max-width:85px;
                    }
                }
            }
        }
    }
}
