.common-slider{
    position:relative;

    .ant-carousel{
        .slick-list{
            .slick-slide{
                cursor: pointer;
            }
        }

    }

    .am-carousel{
        .slider-list{
            .text-area{
                border-bottom : 1px solid #ddd;
                .am-flexbox-item{
                    padding:10px 3%;
                    color : #333;

                    &.title{
                        p{
                            margin-bottom:0;
                            display:-webkit-box;
                            -webkit-line-clamp:2;
                            overflow:hidden;
                            text-overflow:ellipsis;
                            word-break:keep-all;
                            word-wrap: break-word;
                            font-size:1.3em;
                            min-height: 43px;
                            /* autoprefixer: off */
                            -webkit-box-orient:vertical;
                            /* autoprefixer: on */
                        }
                    }

                    &.link{
                        text-align:right;
                        max-width:100px;
                        font-size:0.9em;

                        span{
                            padding:5px 10px;
                            border:1px solid #ddd;
                            border-radius:5px;
                        }
                    }
                }
            }
        }

        &.main{

            div[class^="slider-decorator"]{
                bottom:auto !important;
                top : 10px;
            }
        }
    }

    .button-wrapper{
        position:absolute;
        top:-21px;
        left:-70px;
        right:-70px;
        bottom:0px;
        height:100%;
        width:calc(100% + 140px);

        & > .am-flexbox-item{
            align-self:stretch;

            .am-button{
                z-index:5;
                display:inline-block;
                height:100%;
                border:none;
                padding:0;
                display: flex;
                flex-flow: row nowrap;
                align-items: stretch;

                &.btn-prev{
                    float: left;
                }

                &.btn-next{
                    float:right;
                }

                .am-icon{
                    flex: 1 1 100%;
                    align-self: center;
                    width:70px;
                    height:70px;
                    margin-right:0;
                }
            }
        }
    }
}

html:not([data-scale]) .common-slider .am-button-ghost::before{display:none;}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx){
    html:not([data-scale]) .web-container .common-slider .am-button-ghost::before{
        display:none;
    }

    html:not([data-scale]) .web-container .common-slider .am-button-ghost{
        border:none;

        &.am-button-active{
            border:none;
        }
    }
}
