.comment{
    .common-editor{
        .spoons-editor-wrapper{
            border: 1px solid #e0e0e0;
            padding:10px;
            border-radius:5px;
            background-color:#fafafa;
        }

        &-read{
            .spoons-editor-wrapper{
                margin:0.5em 0;
                background-color:#fafafa;
                border:none;
            }
        }
    }
}

.comments-wrapper{
    padding:20px 10px;
    border-top:1px solid #ddd;

    .comment-list{
        margin-bottom:30px;
        padding-bottom:30px;
        border-bottom:1px solid #ddd;

        .comment{
            padding: 20px 0 20px;
            border-bottom: 1px dashed #ddd;

            .util-area{
                max-width:154px;

                .am-flexbox-item{
                    cursor:pointer;

                    &.count{
                        max-width:33px;
                        text-align:center;
                        margin-left:4px;
                    }

                    &.report{
                        text-align:center;
                    }
                }
            }

            .writer{
                margin-bottom:0.5em;
            }

            &.comment-write{
                border-top:1px solid #ddd;
                border-bottom:1px solid #ddd;
            }
        }

        & .comment-wrapper:last-child{
            .comment{
                border-bottom:none;
            }
        }
    }

    .btn-wrapper{
        text-align:center;
    }
}

.comment-write{
    padding: 20px 30px 10px 0;
    .button-wrapper{
        &.am-flexbox{
            text-align:right;
        }
    }

    .spoons-editor-main{
        min-height:100px;
    }
    .ant-avatar-lg{
        width: 80px;
        height: 80px;
        border-radius: 40px;
        line-height: 80px;
        margin-top:14px;

        &.ant-avatar-icon{
            font-size: 44px;
        }
    }
}
