.password-wrapper{
    &.am-modal{
        min-width: 480px;

        .am-modal-body{
            .am-list{
                .am-list-item{
                    .am-input-label{
                        width:100px;
                        font-size:1em;
                    }
                }
            }
        }
    }
}
