.rank-wrapper{
    .rank-top{

        &-total{
            text-align:center;

            .am-flexbox-item{
                font-weight:bold;
            }
        }

        &-list{
            .am-flexbox-item{
                text-align:center;

                .title{
                    color:#2290A2;
                    font-weight:bold;
                }
                .thumnail{
                    img{
                        border-radius:50%;
                        overflow:hidden;
                        background-color:#fff;
                        border:2px solid #ffffff;
                        box-shadow: 4px 2px 11px rgba(0, 0, 0, 0.3);
                        cursor: pointer;
                    }
                }
                .ant-avatar{
                    margin:0 auto 14px;
                    border-radius:50%;
                    cursor: pointer;
                    border:2px solid #ffffff;
                    box-shadow: 4px 2px 11px rgba(0, 0, 0, 0.3);

                    &-lg.ant-avatar-icon{
                        font-size:5em;
                    }
                }
            }
        }
    }

    .rank-list{

        &-top{
            margin-bottom:20px;

            h3{
                font-weight:bold;
            }
        }
    }

    &.user-detail-wrapper{
        .am-tabs{
            border-top:1px solid #00bbd4;

            .am-tabs-tab-bar-wrap{
                margin-bottom:20px;

                .am-tabs-default-bar-tab{
                    cursor:pointer;
                }
            }
        }
    }
}

.web-container{
    .rank-wrapper{
        max-width: 1040px;
        margin:0 auto;
        padding:4% 2%;

        .rank-top{
            margin-bottom:5%;

            &-total{
                margin: 0 auto 5%;

                .am-flexbox-item{
                    font-size:1.5em;
                }
            }

            &-list{
                flex:0 0 25%;

                .am-flexbox-item{
                    .title{
                        font-size:1.3em;
                    }

                    .img-area{
                        .thumnail{
                            margin:0 auto 14px;

                            img{
                                height: 154px;
                                width:154px;
                            }
                        }

                        .ant-avatar{
                            width:154px;
                            height:154px;
                            line-height:154px;
                        }
                    }
                }
            }
        }
    }

    .rank-list{

    }
}

.mobile-container{
    .rank-wrapper{
        padding:0 10px;

        .rank-top{
            margin-bottom:30px;

            &-total{
                padding:5% 0;
                .am-flexbox-item{

                }
            }

            &-list{
                flex:0 0 33.3333%;

                .am-flexbox-item{

                    .img-area{

                        margin-bottom:1em;

                        .thumnail{
                            img{
                                height: 100px;
                                width:100px;
                            }
                        }

                        .ant-avatar{
                            width:100px;
                            height:100px;
                            line-height:100px;
                        }
                    }

                    .text-area{
                        p{
                            margin-bottom:0;
                            white-space: nowrap;
                            overflow-x: hidden;
                            text-overflow: ellipsis;
                        }
                    }
                }
            }
        }
    }
}
