

@web-font-size-base : 14px;

.web-container{

    & > .section{
        min-height:calc(~'100vh' - 81px);
    }
    .ant-layout{
        background:#fff;
    }

}

.mobile-container {

    font-size:12px;

    figure{
        margin:0;
    }

    img{
        max-width:100%;
        vertical-align:top;
    }

    .am-button{
        border: 1px solid #dadada;
        box-shadow: 1px 1px 2px rgba(0,0,0,0.14);
        vertical-align:middle;

        em{
            font-style:normal;
        }

        &-small{
            font-size: 0.8em;
            height: 24px;
            line-height: 24px;
            padding: 0 8px;
        }
    }

    .circle-btn{
        padding:0 30px;
        border-radius:37px;
    }

    .emphasis-btn{
        background-color: #EE3F77;
        color:#fff;
    }

    .button-wrapper{
        margin: 20px auto 11px;
        text-align:center;
    }

    .only-web{
        display:none;
    }
}

.am-icon{

    &-img{
        padding:5px;

        img{
            width:inherit;
        }
    }
}

.notification{
    position:relative;
    padding:0;
    padding-left:25px;
    line-height:22px;

    .am-icon{
        position:absolute;
        top:0;
        left:0;
    }

    em{
        font-style:normal;
    }
}

.am-badge{
    .am-badge-dot{
        top:-6px;
        right: -12px;
    }
}

.am-list{
    .picker-wrapper{
        .am-list-item{
            .am-list-line{
                 .am-list-extra{
                     flex-basis: 50%;
                 }
            }
        }
    }

    .am-list-body{

        .flex-wrapper{
            padding:0 15px;

            .plain-text{
                font-size: 1em;
                color:#000;
                padding:12px 0 0;
                text-align:left;

                &.notification{
                    padding:0 0 0 28px;
                    font-size: 0.8em;
                    color:#999;
                    word-break:keep-all;

                    em{
                        color:#222;
                    }
                }
            }

            .am-list-item{
                padding:0;

                .am-list-line{
                    padding-right:0;

                    .am-list-content{
                        font-size:1em;
                    }
                    .am-list-extra{
                        font-size:1em;
                    }
                }
            }
        }

        .am-list-item{
            .am-list-line{
                border-bottom:none;
            }
        }

    }

    .am-list-item{

        .am-list-line{

            .am-list-content{
                font-size:0.9em;
                white-space:pre-wrap;
            }
        }

        &.am-input-item{

            &.confirmation{
                input{
                    border:1px solid #FF6E59;
                    color: #FF6E59;
                }
            }

            .am-input-label{
                font-size:1.2em;
                text-align:center;
            }

            input{
                font-size:0.7em;
                display:inline-block;
                box-sizing:border-box;
                border:1px solid #dadada;
                border-radius:4px;
                padding:7px 10px;
            }

            .am-input-clear{
                margin-left:6px;
            }

            &.am-input-disabled{
                .am-input-label{
                    color:#000;
                }
            }
        }
    }
}

.am-search{
    border-bottom:1px solid #ddd;

    .am-search-input{
        .am-search-synthetic-ph{
            box-sizing:unset;
            padding:auto;
            margin:auto;
        }


        input[type="search"]{
            // box-sizing:inherit;
        }

        .am-search-clear{
            box-sizing:unset;
        }
    }
}



.am-modal-popup{
    .am-modal-content{
        .am-modal-header{
            padding:0;
        }
        .am-modal-body{
            height:calc(~'100vh' - 96px);
            box-sizing:border-box;
            padding:9px 0;
        }
    }
}

.am-activity-indicator{
    &.am-activity-indicator-toast{
        background-color:rgba(0, 0, 0, 0.4);

        .am-activity-indicator-content{
            background-color:transparent;
        }
    }
}

.am-modal-wrap{
    .am-modal-transparent{
        width:auto;
        min-width:270px;
    }
    .am-modal-content{
        .am-modal-body{
            white-space:pre-line;
        }
    }
    .am-modal-close{
        cursor:pointer;
    }

    &.am-modal-wrap-popup{
        .am-modal-popup{
            top:0;
            .am-modal-content{
                .am-modal-header{
                    border-bottom:1px solid #ddd;
                    .am-modal-title{
                        line-height:45px;
                    }
                }
                .am-modal-close{
                    top:15px;
                }

                .am-modal-body{
                    padding:9px 15px;
                }
            }
        }
    }
}

body{
    min-width:320px;
    // ios scrolling
    overflow:auto;
    -webkit-overflow-scrolling:touch;
}

li, ol{
    list-style:none;
}

body, *{
  margin:0;
  padding:0;
}

#root{
    .ant-layout{
        background:#fff;
    }

    .app-container{
        .Select{
            .Select-control{
                border:1px solid #dadada;
                height:32px;

                .Select-placeholder{
                    text-align:left;
                }

                .Select-input{
                    height:30px;
                }

                & ~ .Select-menu-outer{
                    z-index:1000;
                }
                .Select-value{
                    text-align:left;
                }
            }
        }
    }

    .full-layout {
        min-height:calc(~'100vh' - 135px);
        align-items:stretch;

        .full-layout-wrapper{
            align-self:center;
        }
    }

    .am-button{
        font-size:1em;
        cursor:pointer;

        &.am-button-primary{
            color:#fff !important;

            &.am-button-active{
                color: #fff;
                background-color: #d95041;
                border-color: #d95041;
            }
        }
    }

    .am-tabs-default-bar-tab{
        font-size:1em;
        cursor:pointer;
    }

    .ant-upload-list-picture-card{
        .ant-upload-list-item-info{
            & > span{
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100%;
                transform: translate(-50%, -50%);
            }
        }
    }

}

.circle-radio{

    .am-radio-wrapper{
        vertical-align:top;
        line-height:18px;

        .am-radio{
            width:18px;
            height:18px;
            vertical-align:top;
            margin-right:2px;

            .am-radio-inner{
                top:50%;
                right:50%;
                border-width: 1px;
                border-style:solid;
                border-color: #dadada;
                background-color:#fff;
                border-radius:8px;
                width:16px;
                height:16px;
                margin: -8px -8px 0 0;

                &::after{
                    width:8px;
                    height:8px;
                    top:50%;
                    right:50%;
                    transform:rotate(0);
                    transform: translate(50%, -50%);
                    border:none;
                    background-color:#FF6E59;
                    border-radius:5px;
                }
            }

            &.am-radio-checked{
                .am-radio-inner{
                    border-width:1px;
                    border-color:#FF6E59;
                }
            }
        }
    }
}

.ant-menu-submenu{
    &.ant-menu-submenu-popup{
        z-index:101 !important;
    }
}

.ant-table-body{
    table{
        .center{
            text-align:center;
        }
    }
}
.am-list-item{
    &.list-none{
        text-align:center;
        .am-list-line-wrap{
            .am-list-content{
                text-align:center;

                p{
                    margin-bottom:0;
                }
            }
        }
    }
}

.last{
    margin-top: 1em;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx){
    html:not([data-scale]) .app-container .am-list-body::before,
    html:not([data-scale]) .app-container .am-list-body::after{
        display:none;
    }
}

html:not([data-scale]) .app-container .am-list-body div:not(:last-child) .am-list-line::after,
html:not([data-scale]) .app-container .am-accordion::before,
html:not([data-scale]) .app-container .am-accordion .am-accordion-item .am-accordion-header::after,
html:not([data-scale]) .app-container .am-picker-col-indicator::before,
html:not([data-scale]) .app-container .am-picker-col-indicator::after{
    display:none;
}
