.mobile-container{
    .header-container{

        .header-wrap{
            height:70px;
            border:none;

            .am-navbar-title{

                a{
                    flex: 1 1 100%;
                    align-self: center;
                    text-align: center;
                    padding:10px 0;

                    img{
                        width: 44px;
                        vertical-align:middle;
                    }
                }
            }

            .am-navbar-right,
            .am-navbar-left{
                font-size:1.5em;
            }
        }
    }

}


.web-container{
    .header-container{
        background: #FF6E59;
        padding:0;
        height:auto;
        border-bottom:1px solid #EC3F2E;

        .logo{
            cursor:pointer;
            text-align:center;
            background:#fff;
            border-radius:28px;
            font-size:1.5em;
            color: #FF6E59;

            img{
                max-width:64px;
            }
        }

        .header-wrap{
            width:1280px;
            margin:0 auto;
            max-width:1280px;
            height:80px;
        }
    }
}
