.web-container{
    .local-navigation-wrap{
        .local-navigation{
            width:1280px;
            margin:0 auto;
            max-width:1280px;

            .ant-menu-item{
                a{
                    text-align:center;
                }
            }
        }
    }
}
