.login-container{

    .login-wrapper{

        .logo{
            width:100px;
            margin-bottom: .5em;
        }

        & > .am-flexbox{
            text-align:center;
            max-width:360px;
            margin-top:15%;

            .am-flexbox-item{
                margin-left:0;
                flex-basis:100%;
            }
        }
    }
}
