.login-container{
    & > .am-flexbox-item{
        max-width:360px;

        .login-area{
            .logo{
                color:#FF6E59;
                margin-bottom:0;
                text-align:center;
            }

            .ant-form-item{
                margin-bottom:5px;
            }

            .am-button{
                margin : 8px 0;
            }
        }
    }
}

.web-container{
    .login-container{
        min-height:calc(~'100vh' - 80px);

        & > .am-flexbox-item{
            flex : 0 0 40%;

            .login-area{
                .logo{
                    font-size:2em;

                    img{
                        width:80px;
                    }
                }
            }
        }
    }
}

.mobile-container{
    .login-container{
        min-height:calc(~'100vh' - 46px);

        & > .am-flexbox-item{
            flex : 0 0 60%;
            min-width:270px;

            .login-area{
                .logo{
                    font-size:1.5em;

                    img{
                        width:60px;
                        vertical-align:middle;
                    }
                }
            }
        }
    }
}
