.web-container{
    .util-navigation{
        display:flex;
        flex-flow:row nowrap;
        justify-content:flex-start;
        align-items:stretch;

        &.ant-menu{
            background-color: transparent;
            border-bottom: none;
        }

        .ant-menu-item:not(.btn-search){
            color:#fff;
            float:none;
            top:0;
            margin-top:0;
            border-bottom:0;
            font-size:1.2em;
            flex:1 1 auto;
            border:1px solid #fff;
            border-radius:28px;
            margin:0 5px;
            text-align:center;
            padding:0 10px;
        }
        .ant-menu-item{
            &:hover,
            &-active,
            &.on{
                color:#fff !important;
                background-color:#EC3F2E;
                border-color:#fff;
            }

            a{
                color:inherit;

                &:hover{
                    color:#fff;
                }

                &::before{
                    display:none;
                }
            }
        }

        .ant-menu-item.btn-search{
            float:none;
            flex:1 1 54px;
            font-size:2em;
            color:#fff;
            margin:0 5px;
            text-align:center;
            max-width:50px;
            padding:0 10px;

            a{
                display:inline-block;
            }
        }
    }
}
