.mypage-container{
    .mypage-wrap{
        &-top{
            .text-area{
                div{
                    p{
                        &:last-child{
                            margin-bottom:0;
                        }
                    }
                }
            }
        }

        .am-tabs{
            .am-tabs-content-wrap{
                .list-wrap{
                    &-top{
                        margin-bottom:20px;

                        .am-flexbox-item{
                            h3{
                                margin-bottom:0;
                            }
                        }
                    }

                    &.comment-wrap{
                        .comment-list-top{
                            margin-bottom:20px;

                            h3{
                                margin-bottom:0;
                            }
                        }
                    }
                }
            }
        }
    }
}



.web-container{
    .mypage-container{
        .mypage-wrap{
            &-top{
                max-width: 980px;
                margin: 0 auto;
                height:240px;

                .profile-url{
                    max-width:120px;
                }
                .text-area{
                    div{
                        padding:0 30px;
                        p{
                            font-size:1.3em;
                        }
                    }
                }
                .btn-area{
                    max-width:220px;
                }
            }

            .am-tabs{
                .am-tabs-tab-bar-wrap{
                    .am-tabs-default-bar{
                        width:1040px;
                        margin:0 auto;

                        .am-tabs-default-bar-tab{
                            font-size:1.2em;
                            cursor:pointer;
                            color:#fff;

                            &-active{
                                background-color: #EC3F2E;
                            }
                        }
                    }

                }
                .am-tabs-content-wrap{
                    padding:50px 0;
                    max-width: 1040px;
                    margin: 0 auto;

                    .list-wrap{
                        &.comment-wrap{
                            max-width: 720px;
                            margin:0 auto;

                            .ant-pagination{
                                margin:16px 0;
                                float:right;
                            }
                        }
                    }
                }
            }
        }
    }
}

.mobile-container{
    .mypage-container{
        .mypage-wrap{
            &-top{
                padding:20px;
                display:block;
                text-align:center;

                .am-flexbox-item{
                    margin-left:0;
                }

                .profile-url{
                    margin-bottom:20px;
                }

                .text-area{
                    margin-bottom:10px;
                    p{
                        font-size:1em;
                        margin-bottom:5px;
                    }
                }
            }

            .am-tabs{
                border-top:1px solid #f1f1f1;

                .am-tabs-content-wrap{

                    .list-wrap{
                        padding:20px 10px;

                        &-top{
                            margin-bottom:10px;
                        }

                        &.comment-wrap{

                            .comment-list-top{
                                margin-bottom:10px;
                            }

                            .comment-list{
                                margin-bottom:20px;
                            }

                            .ant-pagination {
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
}

.am-modal-wrap{
    &.ad-modal{

        &.ad-modal-preview,
        &.ad-modal-modify,
        &.ad-modal-create{
            .am-modal-transparent{
                width:50%;
                max-width:720px;

                .am-modal-content{
                    .ad-inner-item{
                        .ant-form-item{

                            &.video{
                                .ant-form-item-control{
                                    text-align:left;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
