.web-container{
    .mypage-container{

        .mypage-wrap{

            &-top{
                max-width: 980px;
                margin: 0 auto;
                height:240px;

                .profile-url{
                    max-width:120px;
                }

                .text-area{
                    div{
                        padding:0 30px;

                        p{
                            font-size:1.3em;

                            &:last-child{
                                margin-bottom:0;
                            }
                        }

                    }
                }

                .btn-area{
                    max-width:220px;
                }
            }

            .am-tabs{

                .am-tabs-tab-bar-wrap{
                    background-color:#FF6E59;

                    .am-tabs-default-bar{
                        width:1040px;
                        margin:0 auto;

                        .am-tabs-default-bar-tab{
                            font-size:1.2em;
                            cursor:pointer;
                            color:#fff;
                            background-color:#FF6E59;
                            border-bottom:none;

                            &-active{
                                color:#fff;
                                background-color: #EC3F2E;
                            }
                        }
                    }

                }
                .am-tabs-content-wrap{
                    padding:50px 0;
                    max-width: 1040px;
                    margin: 0 auto;

                    .list-wrap{

                        &-top{
                            margin-bottom:20px;
                        }

                        &.comment-wrap{
                            max-width: 720px;
                            margin:0 auto;

                            .comment-list-top{
                                margin-bottom:20px;
                            }

                            .comment-list{

                                .comment{
                                    padding: 10px 0;
                                    border-bottom: 1px solid #ddd;

                                    &:first-child{
                                        border-top: 1px solid #ddd;
                                    }

                                    .common-editor{
                                        .spoons-editor-wrapper{
                                            border: 1px solid #e0e0e0;
                                            padding:10px;
                                            border-radius:5px;
                                            background-color:#fafafa;
                                        }

                                        &-read{
                                            .spoons-editor-wrapper{
                                                margin:0.5em 0;
                                                background-color:#fafafa;
                                                border:none;
                                            }
                                        }
                                    }

                                    .util-area{
                                        max-width:154px;

                                        .am-flexbox-item{

                                            &.count{
                                                text-align:center;
                                            }

                                            &.delete{
                                                cursor:pointer;
                                                position:relative;
                                                text-align:center;

                                                &::before{
                                                    position:absolute;
                                                    left:0;
                                                    top:0;
                                                    height:20px;
                                                    content:"";
                                                    width:1px;
                                                    border-left:1px solid #ddd;
                                                }
                                            }
                                        }
                                    }

                                    .title{
                                        margin-bottom:0.5em;
                                    }
                                }
                            }

                            .ant-pagination{
                                margin:16px 0;
                                float:right;
                            }
                        }

                        &.ad-wrap{
                            max-width: 720px;
                            margin:0 auto;

                            .ad-list{
                                .am-list-header{
                                    padding:0;

                                    .am-list-content{
                                        font-size:1.1em;
                                    }
                                }

                                .am-list-body{
                                    .am-list-item{
                                        padding:10px 15px;

                                        &.list-none{
                                            .am-list-content{
                                                font-size:1.1em;
                                                padding:1.5em 0;
                                                text-align:center;
                                                p{
                                                    margin-bottom:0;
                                                }
                                            }
                                        }

                                        .am-list-thumb{
                                            img{
                                                width:80px;
                                                height: 80px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.am-modal-wrap{
    &.ad-modal{
        &.ad-modal-preview{

            .am-modal-transparent{
                width:50%;
            }

        }
    }
}
