.qna-wrapper{
    .am-list{
        .am-list-body{
            .am-list-item{

                &.am-textarea-item{
                    .am-textarea-label{
                        text-align:center;
                        font-size:1em;
                    }
                    .am-textarea-control{
                        textarea{
                            border:1px solid #dadada;
                            padding:7px 10px;
                            border-radius:4px;
                            font-size:0.9em;
                        }
                    }
                }

                &.am-input-item{
                    .am-input-label{
                        font-size:1em;
                    }
                }
            }
        }
    }
}

.web-container{
    .service-wrapper{

        &-top{
            border-bottom:1px solid #FF6E59;

            .title{
                height:180px;
                font-size:28px;
                line-height:180px;
                text-indent:20px;
                width:1040px;
                margin:0 auto;
            }
        }

        .sub-title,
        .ant-table-title{
            padding: 16px 0;
            text-align: center;
            position: relative;
            border-radius: 0;
            font-size:1.2em;
            font-weight:bold;
            margin:0;
        }

        .faq-wrapper{
            width:1040px;
            margin:0 auto;
            padding:20px 0;

            .faq-navigation{
                flex-basis:25%;

                .ant-menu-vertical{
                    border-right:none;
                }
            }
            .faq{
                flex-basis:75%;
                margin-left:20px;

                .ant-table{
                    .ant-table-body{
                        .ant-table-row{
                            cursor:pointer;
                        }
                    }
                }
            }
        }

        .qna-wrapper{
            max-width:540px;
            margin:0 auto;
            padding:30px 0 50px;

            .sub-title{
                text-indent:50px;
            }
        }

        .rule-wrapper{
            width:960px;
            margin:0 auto;
            padding:20px 0 50px;
        }
    }
}

.mobile-container{
    .service-wrapper{
        padding:10px;

        .am-flexbox{
            &.faq-wrapper{
                flex-flow:row wrap;

                .am-flexbox-item{
                    flex: 0 0 100%;
                    margin:0;
                }

                .faq-navigation{
                    border-bottom:1px solid #ddd;

                    .ant-menu{
                        .ant-menu-item{
                            margin:0;
                        }
                    }
                }

                .faq{
                    padding:10px;
                    .title,
                    .ant-table-title{
                        text-align:center;
                        font-size:1em;
                        font-weight:bold;
                    }
                    .ant-table-body{
                        table{
                            border-top:1px solid #e8e8e8;
                        }
                    }
                }
            }
        }

        .rule-wrapper,
        .qna-wrapper{
            .sub-title{
                font-size:1.2em;
                text-align:center;
            }
        }
    }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx){
    html:not([data-scale]) .qna-wrapper .am-list-body::before,
    html:not([data-scale]) .qna-wrapper .am-list-body::after{
        display:none;
    }
}
