.category-wrapper{
    display:flex;
    flex-flow: row nowrap;
    background-color:#E2F2F4;
    justify-content:center;
    border-top: 2px solid #c1e7e6;
    border-bottom: 2px solid #c1e7e6;
    margin-bottom:18px;
    padding:40px 0 31px;

    .category-inner{
        h2{
            margin-bottom:2em;
            text-align:center;
            color:#1B6F7B;
        }
        p{
            text-align:right;

            .am-icon{
                font-size:1.8em;
                margin-right:5px;
                color:#2290A2;
            }
        }
    }
}

.mobile-container{
    .category-wrapper{
        padding:20px 0 11px;
        border-top: 1px solid #c1e7e6;
        border-bottom: 1px solid #c1e7e6;
        margin-bottom:10px;

        .category-inner{
            h2{
                margin-bottom:1em;
            }
            p{
                margin-bottom:.5em;

                .am-icon{
                    font-size:1.2em;
                }
            }
        }
    }
}
