.propose-container{
    .propose-wrapper{
        margin-top:10%;
        flex-basis:580px;

        .am-steps{
            margin: 0 10%;
            width: calc(100% - 20%);

            // &-item{
            //
            //     &-tail{
            //         display:block !important;
            //         width: 100%;
            //         top: 2px;
            //         margin: 0 0 0 70px;
            //         padding: 0;
            //     }
            //
            //     &-content{
            //         display:block;
            //         text-align:center;
            //     }
            // }
        }

        .am-tabs{

            .am-tabs-tab-bar-wrap{
                .am-tabs-default-bar-tab{
                    border-bottom:none;
                }
            }

            .content-list-wrapper{

                .content-item{
                    border-top:1px solid #ddd;

                    .button-wrapper{
                        .am-flexbox-item{
                            text-align:right;

                            .am-button{
                                display:inline-flex;
                            }
                        }
                    }
                }


            }
        }
    }
}
