.propose-container{
    .propose-wrapper{
        margin:10% 0;
        flex-basis:600px;

        .am-steps{
            margin: 0 10%;
            width: calc(100% - 20%);
        }

        .content-list-wrapper{

            .content-item{
                border-top:1px solid #ddd;

                .button-wrapper{
                    .am-flexbox-item{
                        text-align:right;

                        .am-button{
                            display:inline-flex;
                        }
                    }
                }
            }
        }

        .am-tabs{

            .am-tabs-tab-bar-wrap{
                .am-tabs-default-bar-tab{
                    border-bottom:none;
                }
            }
        }

        .propose-step-wrapper{

            padding: 20px 40px 0 0;

            &.step-01{

                .reg-agree-checkbox{
                    margin-bottom:10px;
                }

                .text-area-box{
                    margin-bottom:0;

                    textarea.ant-input-disabled{
                        height: 152px;
                        padding: 20px;
                        resize: none;
                        border: none;
                        color: #333;
                    }
                }
            }

        }
    }
}
