.story-detail{


    .am-tabs{
        .am-tabs-tab-bar-wrap{
            overflow:visible;
        }
    }

    .story-top{
        position:relative;
        display:flex;
        flex-flow:row nowrap;
        height:280px;
        background-position:center center;
        background-size:cover;
        justify-content:center;
        border-radius: 0 0 10% 10%;
        overflow:hidden;

        .overlay{
            position:absolute;
            top:0;
            left:0;
            right:0;
            bottom:0;
            width:100%;
            height:100%;
            z-index:1;
            background-color:rgba(195, 190, 190, 0.4);
        }
    }

    .am-tabs{

        .am-tabs-default-bar-tab{
            cursor:pointer;
        }

        .am-tabs-content-wrap{
            .am-tabs-pane-wrap{
                overflow:visible;
            }
        }
    }

    .contents-wrppper{
        .contents-area{
            padding:30px 20px;
            background-color:rgba(212, 242, 247, 0.2);

            & > div{
                margin-bottom:30px;

                &:last-child{
                    margin-bottom:0;
                }
            }

            .img-area{

                & > img{
                    display:block;
                    margin:0 auto 20px;
                    text-align:center;

                    &:last-child{
                        margin:0 auto;
                    }
                }
            }

            .video-area{
                & > div{
                    display:block;
                    margin : 0 auto 20px;
                    text-align:center;

                    &:last-child{
                        margin:0 auto;
                    }
                }
            }
        }
    }

    .donation-wrppper{
        padding:20px 0;
        background: #F1F3F4;

        &-inner{
            background:#fff;
        }

        &-area{
            padding:20px 10px 10px;
        }

    }
}


.web-container{
    .story-detail{
        .am-tabs{
            .story-tab-bar{
                width:100%;

                &-sticky{
                    .am-tabs-default-bar{
                        transition:all 0.2s;

                        .am-tabs-default-bar-tab{
                            transition:all 0.2s;
                            color:#fff;
                            background-color:#FF6E59;

                            &.am-tabs-default-bar-tab-active{
                                background-color:#EC3F2E;
                            }
                        }
                    }
                }
            }
        }

        .detail-wrppper{
            .contents-wrppper,
            .story-info-wrapper,
            .comment-wrapper,
            .comments-wrapper{
                width:700px;
                margin:0 auto;
                overflow:visible;
            }
        }

        .donation-wrppper{
            padding:40px 0;
            
            &-area{
                width:700px;
                margin: 0 auto;
            }
        }
    }
}

.mobile-container{
    .story-detail{
        .story-top{
            .top-contents{
                h2{
                    margin-bottom:1em;
                }
                p{
                    margin-bottom:.5em;
                    .am-icon{
                        font-size:1.2em;
                    }
                }
            }
        }

        .am-tabs{
            width:100%;

            .story-tab-bar{
                position:sticky;
            }
        }

        .contents-wrppper{
            .contents-area{
                padding:16px 10px;

                & > div{
                    margin-bottom:20px;

                    &:last-child{
                        margin-bottom:0;
                    }
                }

                .img-area{
                    & > img{
                        margin:0 auto 10px;

                        &:last-child{
                            margin:0 auto;
                        }
                    }
                }

                .video-area{
                    & > div{
                        margin : 0 auto 10px;

                        &:last-child{
                            margin:0 auto;
                        }
                    }
                }
            }

            .comment-wrapper{

            }
        }
    }
}
